<div style="heigth:100%;width:100%;position;relative">
	<div class="col-xs-12 col-sm-12	col-md-12 col-lg-12" style="color:#fff">{{msg}}</div>

	<div class="row">
		<div class="col-xs-12 col-sm-12	col-md-1 col-lg-1" style="margin-top:15px">
			<span style="color: #fff;padding-left: 15px;    line-height: 27px;">Server:</span>
		</div>
		<div class="col-xs-12 col-sm-12	col-md-11 col-lg-11" style="margin-top:15px">
			<div class="serverButtons" style="">
		        <button type="button" class="btn btn-rounded btn btn-icon button_server server_button_active" ng-click="setServer('production')" data-timespan="production" tabindex="0">Production</button>     
		        <!--<button type="button" class="btn btn-rounded btn btn-icon button_server" ng-click="setServer('development')" data-timespan="development" tabindex="0">Development</button> -->    
		     </div>
		 </div>
	</div>


	<div class="row">
		<div class="col-xs-12 col-sm-12	col-md-1 col-lg-1" style="margin-top:15px">
			<span style="color: #fff;padding-left: 15px;line-height: 30px;">Chart:</span>
		</div>
		<div class="col-xs-12 col-sm-12	col-md-11 col-lg-11" style="margin-top:15px">
			
			<button type="button" class="btn btn-default button_default" ng-click="showComulativeProfitChart()">Comulative Profit Chart</button>
		  	<button type="button" class="btn btn-default button_default" ng-click="showProfitChart()">Profit Chart</button>
		</div>
	</div>
	<!--<div class="col-xs-12 col-sm-12	col-md-2 col-lg-2 mainFunction">
		<div class="input-group">
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="button" ng-click="comulative()">Comulative Profit:</button>
	      </span>
	      <input type="text" class="form-control" ng-model="algoId" placeholder="select algo id..">
	    </div>
	</div>-->


	<div class="row">
		<hr>
	</div>

	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="color:#fff;margin-top:15px">{{chart_title}}</div>

	
	<div id="chart_operations" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height:300px;margin-top:15px"></div>
</div>
	